h1 {
  background-color: black;
  text-align: center;
  font-style: oblique;
  color: white;
  size: 32px;
  letter-spacing: 5px;
  text-shadow: 3px 2px grey;
  padding: 10px 0 10px 0;
}

h2 {
  background-color: black;
  font-style: italic;
  text-align: center;
  color: white;
  size: 32px;
  letter-spacing: 5px;
  text-shadow: 3px 2px grey;
  padding: 10px 0 10px 0;
}

body {
  background-color: bisque;
  text-align: center;
  background-image: url(https://lh4.ggpht.com/2HhylICy1uJPF5c1LzY2ZnZ3ymj8T11MURc4AkaZWP_WQ2zBcXy7UeTkebKD8DtKJGlX=w300);
  background-size: 100px 100px;
  background-repeat: repeat;
}

#addition {
  padding: 5px;
  margin: auto;
  background-color: orangered;
  border-style: 3px solid black;
  color: black;
}

#subtraction {
  padding: 5px;
  margin: auto;
  background-color: yellow;
  border-style: 3px solid black;
  color: black;
}

#multiplication {
  padding: 5px;
  margin: auto;
  background-color: limegreen;
  border-style: 3px solid black;
  color: black;
}

#division {
  padding: 5px;
  margin: auto;
  background-color: dodgerblue;
  border-style: 3px solid black;
  color: black;
}

#clear {
  padding: 5px;
  margin: auto;
  background-color: blueviolet;
  border-style: 3px solid black;
  color: black;
}

#betweenAnswerAndButton {
  padding: 10px;
}

span.firstNumberInput {
  background-color: black;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

span.secondNumberInput {
  background-color: black;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

div.operation {
  height: 10px;
}
